#sudoku{
  width: auto;
  padding: 10px;
}

td {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size:1.5em;
}
.tile, .square, .tileNoPointer, .squareNoPointer, .blockedByNumber1, .blockedByNumber2, .winner1, .winner2{
  border: 2px solid #222;
  color: #000;
}

.tile {
  background: linear-gradient(0deg, #9cf 5%, white 30%, white 70%, #9cf 95%);
  cursor: pointer;
}

.square {
  background: linear-gradient(90deg, #9fc 5%, white 30%, white 70%, #9fc 95%);
  cursor: pointer;
}

.tileNoPointer {
  background: linear-gradient(0deg, #9cf 5%, white 30%, white 70%,  #9cf 95%);
}

.squareNoPointer {
  background: linear-gradient(90deg, #9fc 5%, white 30%, white 70%, #9fc 95%);
}


.blockedByNumber1 {
  background: linear-gradient(90deg, #396 5%, lightgray 30%, lightgray 70%, #396 95%);
}

.blockedByNumber2 {
  background: linear-gradient(0deg, #369 5%, lightgray 30%, lightgray 70%,  #369 95%)
}

.blank {
  width: 40px;
  height: 40px;
  text-align: center;
}

.possibleNumbers {
  border: 2px solid #222;
  background: radial-gradient(80% 80%, white, gray);
  font-weight: bold;
  padding: 2px 9px 4px;
  color: #000;
  text-align: left;
}

.possibleNumbersHighlight {
  border: 2px solid #222;
  background: radial-gradient(25px 25px, yellow, darkgray);
  font-weight: bold;
  padding: 2px 9px 4px;
  color: #000;
  text-align: left;
}

.winner1 {
    animation: myanim1 1s infinite;
}
.winner2 {
    animation: myanim2 1s infinite;
}
.winner3 {
    transition: transform 45s;
    transform: rotate(36000deg);
}
.winner4 {
    transition: transform 45s;
    transform: rotate(3600deg);
}

.blue1 {
    animation: blueAnim0 1s infinite;
}
.blue2 {
    animation: blueAnim1 1s infinite;
}
.blue3 {
    animation: blueAnim2 1s infinite;
}
.blue4 {
    animation: blueAnim3 1s infinite;
}
.blue5 {
    animation: blueAnim4 1s infinite;
}
.blue6 {
    animation: blueAnim5 1s infinite;
}
.blue7 {
    animation: blueAnim6 1s infinite;
}
.blue8 {
    animation: blueAnim7 1s infinite;
}
.blue9 {
    animation: blueAnim8 1s infinite;
}
.blue0 {
    animation: blueAnim9 1s infinite;
}

.ryb1 {
    animation: redYellowBlue1 1s infinite;
}
.ryb2 {
    animation: redYellowBlue2 1s infinite;
}
.ryb3 {
    animation: redYellowBlue3 1s infinite;
}
.ryb4 {
    animation: redYellowBlue4 1s infinite;
}
.ryb5 {
    animation: redYellowBlue5 1s infinite;
}

@keyframes myanim1 {
    0% { background: #f00;}
    14% { background: #f90;}
    28% { background: #ff0;}
    42% { background: #0f0;}
    56% { background: #0ff;}
    70% { background: #00f;}
    84% { background: #f0f;}
    100% { background: #f00;}
}

@keyframes myanim2 {
    0% { background: #f90;}
    14% { background: #ff0;}
    28% { background: #0f0;}
    42% { background: #0ff;}
    56% { background: #00f;}
    70% { background: #f0f;}
    84% { background: #f00;}
    100% { background: #f90;}
}

@keyframes redYellowBlue1 {
    0% { background: #f00;}
    25% { background: #ff0;}
    50% { background: #0ff;}
    75% { background: #00f;}
    100% { background: #f00;}
}
@keyframes redYellowBlue2 {
    0% { background: #ff0;}
    25% { background: #0ff;}
    50% { background: #00f;}
    75% { background: #f00;}
    100% { background: #ff0;}
}
@keyframes redYellowBlue3 {
    0% { background: #0ff;}
    25% { background: #00f;}
    50% { background: #f00;}
    75% { background: #ff0;}
    100% { background: #0ff;}
}
@keyframes redYellowBlue4 {
    0% { background: #00f;}
    25% { background: #f00;}
    50% { background: #f00;}
    75% { background: #0ff;}
    100% { background: #00f;}
}
@keyframes redYellowBlue5 {
    0% { background: #f00;}
    25% { background: #ff0;}
    50% { background: #0ff;}
    75% { background: #00f;}
    100% { background: #f00;}
}

@keyframes blueAnim1 {
    0% { background: #0000ff;}
    50% { background: #00ffff;}
    100% { background: #0000fe;}
}
@keyframes blueAnim2 {
    0% { background: #0018ff;}
    10% { background: #0000ff;}
    60% { background: #00ffff;}
    100% { background: #0019ff;}
}
@keyframes blueAnim3 {
    0% { background: #0033ff;}
    20% { background: #0000ff;}
    70% { background: #00ffff;}
    100% { background: #0034ff;}
}
@keyframes blueAnim4 {
    0% { background: #004cff;}
    30% { background: #0000ff;}
    80% { background: #00ffff;}
    100% { background: #004dff;}
}
@keyframes blueAnim5 {
    0% { background: #0066ff;}
    40% { background: #0000ff;}
    90% { background: #00ffff;}
    100% { background: #0067ff;}
}
@keyframes blueAnim6 {
    0% { background: #00ffff;}
    50% { background: #0000ff;}
    100% { background: #00ffff;}
}
@keyframes blueAnim7 {
    0% { background: #0099ff;}
    10% { background: #00ffff;}
    60% { background: #0000ff;}
    100% { background: #00a0ff;}
}
@keyframes blueAnim8 {
    0% { background: #00b3ff;}
    20% { background: #00ffff;}
    70% { background: #0000ff;}
    100% { background: #00b4ff;}
}
@keyframes blueAnim9 {
    0% { background: #00ccff;}
    30% { background: #00ffff;}
    80% { background: #0000ff;}
    100% { background: #00cdff;}
}
@keyframes blueAnim0 {
    0% { background: #00e7ff;}
    40% { background: #00ffff;}
    90% { background: #0000ff;}
    100% { background: #00e8ff;}
}




body { 
  background: #fff;
  color: #330000; 
  font-family: Arial, Verdana, sans-serif;
  padding: 5px;
}
